#An√°lisis y Visualizaci√≥n de datos
# Entregable #1
# ¬øCu√°les son los lenguajes de programaci√≥n asociados a los mejores salarios?

## Lectura del Dataset

In [1]:
import io
import matplotlib
import matplotlib.pyplot as plt
import numpy
import pandas as pd
import seaborn
import re
import requests

In [2]:
seaborn.set_context('talk')
url = 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/sysarmy_survey_2020_processed.csv'
dataset_metadata = {
  'year': 2019,
  'part': 2,
  'skiprows': 0,
  'publish_date': '2019-08-15',
  'minimum_salary': 12500, # https://es.wikipedia.org/wiki/Anexo:Salario_m%C3%ADnimo_en_Argentina
}
df = pd.read_csv(url)
raw_dataframe = None
source = requests.get(url.format(dataset_metadata['year'], dataset_metadata['part'])).content
raw_dataframe = pd.read_csv(io.StringIO(source.decode('utf-8')), skiprows=dataset_metadata['skiprows'], thousands='.', decimal=',')

In [21]:
pd.set_option('display.max_columns', None)
df.head(2)

,profile_gender,profile_age,work_country,work_province,profile_years_experience,work_years_in_company,work_years_in_current_position,work_people_in_charge_of,profile_studies_level,profile_studies_level_state,profile_career,profile_university,profile_specialization_courses,profile_open_source_contributions,profile_programming_as_hobby,work_role,tools_platform,tools_programming_languages,tools_frameworks,tools_data_bases,tools_qa_testing,tools_IDEs,tools_work_pc_os,tools_cellphone_os,work_on_call_duty,salary_on_call_duty_charge,work_on_call_duty_charge_type,work_contract_type,salary_monthly_BRUTO,salary_monthly_NETO,salary_in_usd,salary_satisfaction,salary_comparison_last_semester,salary_has_bonus,salary_bonus_tied_to,salary_inflation_adjustment_2020,salary_percentage_inflation_adjustment_2020,salary_month_last_inflation_adjustment,work_has_violence_situations,profile_sexual_orientation,profile_has_disabilities,profile_has_disabilities_hiring_difficulties,company_employee_number,company_main_activity,company_recommended,company_diversity_policies,company_extra_benefits,company_best_companies_city,cured_programming_languages
0,Mujer,26,Argentina,Ciudad Aut√≥noma de Buenos Aires,3.0,3.0,3.0,0,Universitario,En curso,Ingenier√≠a en Sistemas de Informaci√≥n,UTN - Universidad Tecnol√≥gica Nacional,"S√≠, los pag√≥ un empleador",No,S√≠,Consultant,Ninguna,Ninguno,Ninguno,Ninguna,Ninguna,Ninguno,GNU/Linux,Android,No,0.0,Bruto,Full-Time,53000.0,43000.0,NaN,1,1,No,No recibo bono,No,0.0,0,En mi trabajo actual,Homosexual,NaN,NaN,501-1000,Servicios / Consultor√≠a de Software / Digital,7,2,"Capacitaciones y/o cursos, Comidas pagas / sub...",NaN,[ninguno]
1,Hombre,29,Argentina,Corrientes,5.0,2.0,2.0,4,Universitario,En curso,Ingenier√≠a en Sistemas de Informaci√≥n,UTN - Universidad Tecnol√≥gica Nacional,"S√≠, de forma particular, S√≠, los pag√≥ un emple...",No,S√≠,Developer,"Docker, Google Cloud Platform/App Engine","HTML, Javascript, Python","Django, jQuery","Informix, MySQL, PostgreSQL",Ninguna,"IPython / Jupyter, Sublime Text, Visual Studio...",GNU/Linux,Android,No,0.0,Bruto,Full-Time,79000.0,63000.0,NaN,2,2,Menos de un sueldo,Performance de la compa√±√≠a,Uno,10.0,1,Jam√°s,Heterosexual,Visual,No,201-500,Otras industrias,8,9,"Horarios flexibles, Stock options / RSUs, Vi√°t...",NaN,"[html, javascript, python]"

In [3]:
df['salary_monthly_NETO'].describe().apply(lambda s: '{0:.2f}'.format(s))

count       5883.00
mean       94907.95
std        96862.26
min            1.00
25%        51480.00
50%        78000.00
75%       106000.00
max      2080000.00
Name: salary_monthly_NETO, dtype: object

In [4]:
raw_dataframe['salary_monthly_NETO'].describe().apply(lambda s: '{0:.2f}'.format(s))

count                 5883.00
mean        23131549531284.33
std        913815527415422.12
min                     10.00
25%                 520000.00
50%                 781930.00
75%                1080000.00
max      50779000000000000.00
Name: salary_monthly_NETO, dtype: object

Trabajo m√°s sobre el raw_dataframe, como eleiminando los valores muy altos. Pero la media y std dan muy feos.

In [5]:
raw_dataframe=raw_dataframe[raw_dataframe['salary_monthly_NETO']<3000000]
raw_dataframe['salary_monthly_NETO'].describe().apply(lambda s: '{0:.2f}'.format(s))

count       5647.00
mean      823001.01
std       468018.41
min           10.00
25%       500160.00
50%       758000.00
75%      1030000.00
max      2980000.00
Name: salary_monthly_NETO, dtype: object

In [6]:
df[:3]

,profile_gender,profile_age,work_country,work_province,profile_years_experience,work_years_in_company,work_years_in_current_position,work_people_in_charge_of,profile_studies_level,profile_studies_level_state,...,work_has_violence_situations,profile_sexual_orientation,profile_has_disabilities,profile_has_disabilities_hiring_difficulties,company_employee_number,company_main_activity,company_recommended,company_diversity_policies,company_extra_benefits,company_best_companies_city
0,Mujer,26,Argentina,Ciudad Aut√≥noma de Buenos Aires,3.0,3.0,3.0,0,Universitario,En curso,...,En mi trabajo actual,Homosexual,NaN,NaN,501-1000,Servicios / Consultor√≠a de Software / Digital,7,2,"Capacitaciones y/o cursos, Comidas pagas / sub...",NaN
1,Hombre,29,Argentina,Corrientes,5.0,2.0,2.0,4,Universitario,En curso,...,Jam√°s,Heterosexual,Visual,No,201-500,Otras industrias,8,9,"Horarios flexibles, Stock options / RSUs, Vi√°t...",NaN
2,Mujer,22,Argentina,Ciudad Aut√≥noma de Buenos Aires,2.0,0.0,0.0,0,Secundario,Completado,...,En un trabajo anterior,Bisexual o queer,NaN,No,2001-5000,Otras industrias,6,9,"Clases de gimnasia online, Comidas pagas / sub...",NaN

In [7]:
df['work_role']=='Developer'

0       False
1        True
2       False
3       False
4        True
        ...
6090     True
6091    False
6092    False
6093    False
6094    False
Name: work_role, Length: 6095, dtype: bool

## Selecci√≥n de columnas relevantes para analizar

In [8]:
relevant_columns = ['tools_programming_languages', 'salary_monthly_NETO', 'work_role']

## Preparaci√≥n de datos: todo lo necesario para facilitar la manipulaci√≥n de datos y estudio de variables.

In [9]:
# Convert the comma-separated string of languages to a list of string.
# Remove 'ninguno de los anteriores' option, spaces and training commas.
def split_languages(languages_str):
  if not isinstance(languages_str, str):
    return []
  # Remove 'other' option
  languages_str = languages_str.lower()\
    .replace('ninguno de los anteriores', '')
  # Split string into list of items
  # Remove spaces and commas for each item
  return [lang.strip().replace(',', '')
          for lang in languages_str.split()]

# Create a new column with the list of languages
df.loc[:, 'cured_programming_languages'] = df.tools_programming_languages\
    .apply(split_languages)
if 'cured_programming_languages' not in relevant_columns:
    relevant_columns.append('cured_programming_languages') 

# Duplicate each row of df for each programming language
# mentioned in the response.
# We only include in df_lang the columns we are going to analyze later, so we
# don't duplicate innecesary information.
df_lang = df.cured_programming_languages\
    .apply(pd.Series).stack()\
    .reset_index(level=-1, drop=True).to_frame()\
    .join(df[relevant_columns])\
    .rename(columns={0: 'programming_language'})
# Horrible programming style! But a lot of data science code can be written with
# as concatenations of functions (pipelines), and there's no elegant way of
# doing that on Python.
df_lang[:5]

,programming_language,tools_programming_languages,salary_monthly_NETO,work_role,cured_programming_languages
0,ninguno,Ninguno,43000.0,Consultant,[ninguno]
1,html,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]"
1,javascript,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]"
1,python,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]"
2,ninguno,Ninguno,127000.0,Infosec,[ninguno]

## Seleccionar las filas relevantes para analizar. 
Esto incluye la eliminaci√≥n de valores extremos y err√≥neos, pero tambi√©n puede enfocar el an√°lisis en una sub-poblaci√≥n. Por ejemplo, se pueden limitar a personas con un salario mayor que 10000 pesos, o a las personas que trabajan s√≥lo en "Data Science", pero deben justificar su elecci√≥n y reformular la pregunta inicial de ser necesario.
* Obtener una lista de los lenguajes de programaci√≥n m√°s populares. Decidir cu√°ntos y cu√°les seleccionan para incluir en el an√°lisis.
* Para cada una de las otras columnas del punto anterior, elegir los rangos o valores seleccionan para incluir en el an√°lisis.

### An√°lisis de sub-poblaci√≥n

* Seleccionar√≠a de la columna word_role solo desarrolladores ya que consideramos que es la subpobablaci√≥n cuyo salar√≠o tiene relaci√≥n directa con su expertise en programaci√≥n.

In [23]:
df_lang['work_role'].unique() ##Buscaria todo lo que diga developer y desarrollador

array(['Consultant', 'Developer', 'Infosec', 'SysAdmin / DevOps / SRE',
       'Manager / Director', 'Technical Leader',
       'Data Scientist / Data Engineer', 'DBA', 'Project Manager',
       'Business Analyst', 'QA / Tester', 'Architect', 'Product Manager',
       'Designer', 'BI Analyst / Data Analyst', 'Middleware',
       'VP / C-Level', 'Storage / Backup', 'Networking', 'HelpDesk', 'UX',
       'Ux User Research Analyst', 'Jefe de infraestructura ',
       'Scrum Master', 'Sales / Pre-Sales', 'Team leader',
       'Microinformatica', 'Technical Writer',
       'Implementadora de software ', 'Desarrollador BI',
       'Martech Specialist', 'Software Configuration Management',
       'Maquetador/Dise√±o UI', 'Service manager', 'Release Manager',
       'Access Management Analyst', 'DevOps Cloud Engineer',
       'Soporte e Infraestructura', 'Recruiter / HR', 'tecnico',
       'Finance', 'Data Visualization', 'Implementador de Software',
       'back end', 'Software Engineer', 'NLP', 'Presales architect',
       'NOC', 'QA automation Technical Leader', 'SOC', 'Account manager',
       'Telecomunicaciones', 'Cto',
       'Instalaci√≥n, puesta en marcha y servicio t√©cnico de equipos electr√≥nicos en la industria naval.',
       'Networking / SysAdmin', 'Responsable BI', 'Data Quality Analyst',
       'Technical Owner', 'DevOps', 'Analista Programador', 'Tecnico',
       'soporte it', 'Fullstack', 'Frontend dev Jr ', 'Soporte Tecnico',
       'Head of Engineering', 'Coordinadora proyectos educativos tech',
       'Infrastructure Administrator', 'VERIFICADOR DE CUENTAS',
       'Analista t√©cnico funcional/arquitecta', 'Technical support',
       'Integration Engineer',
       'trabajo como desarrollador back, pero tambi√©n tengo que estar haciendo de analista , DBA, dev frontend y a veces de helpdesk',
       'devops', 'BRM', 'coordinador de soporte', 'Implementador IAM',
       'Arquitecto de Seguridad', 'Business Partner IT',
       'Lead Product Artist', 'IT Leader',
       'Help Desk/software architect/developer', 'Account manager ',
       'Analista Funcional', 'Gerente Operativo de Seguridad Informatica',
       'Secretaria', 'Server admin', 'Asistente Direccion',
       'openstack SME', 'Blockchain Team', 'generalista',
       'Administrador de sistemas', 'Comunicaci√≥n', 'Production support',
       'Hombre orquesta', 'Customer service',
       'Frond-end coder / UI Designer', 'SOPORTE DE APP', 'frontend',
       'Customer Advocate', 'Area de educacion', 'UI',
       'Analista de producto digital', 'Administrador Wintel',
       'Fashion Account Manager', 'Investigador',
       'Programo y lidero al mismo tiempo', 'Mobile Engineer',
       'Technical Account Manager',
       'Un poco de todo, web, programaci√≥n, Dise√±o, email marketing y redes ü§∑üèª\u200d‚ôÇÔ∏è',
       'Principal Engineer', 'UI / UX Designer', 'full developer',
       'Program Manager', 'Jefe de Sistemas / CIO / CTO',
       'Onsite Support', 'Product Owner', 'Security Researcher',
       'Product Designer', 'Cloud Engineer', 'Team Lead',
       'Technical Support (Level 2)', 'Analista programador',
       'Lider de Proyecto', 'Marketing Team Lead', 'Growth ',
       'IT Responsible', 'front-end dev',
       'Subject Matter Expert (simil a director pero sin el management)',
       'Analista T√©cnico Funcional', 'IT', 'Community Manager y Analista',
       'QA Lead', 'Tecnico instalador ', 'Functional Analyst',
       'Reasercher', 'System Engineer', 'AV Technical Leader - Support',
       'Technical Lead Devops', 'SAP BASIS',
       'Dewigb + sales +customer care', 'Application Analyst',
       'Software Development Coordinator', 'Principal Software Engineer',
       'servicio t√©cnico', 'Maquetador', 'T√©cnico en automatizaci√≥n',
       'Responsable de Marketing y Dise√±o', 'Analista de sistemas',
       'Software engeniering', 'Implementador de software y dba',
       'Analista de Monitoreo', 'Maxirest', 'Machine Learning Engineer',
       'full stack developer y growth hacker', 'Field Support',
       'Analista Tecnico', 'CTO',
       'Gestora Particular y Data analyst, Administrativa',
       'Project leader', 'Cibersecurity & Compliance Engineer',
       'Security ', 'DevSecOps', 'Developer QA - Ambos roles',
       'Administrativo', 'Jefe de desarrollo', 'Software engineer',
       'Firmware Developer', 'R&D Engineer',
       'Software Developer- computer vision full stack', 'QA Automation',
       'Service Management IT GRC', 'Senior software Developer',
       'Sysadmin', 'Auditor√≠a', 'application support',
       'Technical Support Analyst', 'Analista funcional ',
       'Gerente de Sistemas', 'Security Admin', 'Jefe HR', 'Data QA',
       'Resiliencia', 'Informatica forense', 'Project Lead',
       'PLC, HMI y Scada', 'T√©cnico, armador, reparador',
       'Consultor de sistemas ', 'Project Leader', 'Teaching', 'Mobile ',
       'Principal of Engineering', 'Becario', 'Internal Auditor',
       'Infrastructure Specialist', 'Data Visualization Engineer', 'RPA',
       'Network Architect', 'Operador Datacenter', 'Seguridad IT',
       'Seguridad',
       'Founder/CEO/Developer/Designer/Product Manager... TODO',
       'Digital Transformation Manager + KAM VIP',
       'operario de kits de biomedicina', 'seguridad',
       'Encargado tecnico', 'Manager', 'servicios', 'Gerente de sistemas',
       'Analista funcional', 'Project Analyst', 'Job streaming',
       'Auditor', 'Mnt', 'Soporte de aplicaciones niv 1, 2 y 3',
       'Job Streamer', 'Soporte T√©cnico', 'Analista',
       'Production support ', 'Game developer', 'Devops',
       'Analista de arquitectura y ciberseguridad', 'Hardware Engineer',
       'T√©cnico de Desktop', 'Soporte tecnico, redes y programaci√≥n',
       'Coordinador helpdesk', 'Soporte tecnico', 'Funcional',
       'system engineer', 'todos los de arriba', 'Help Desk', 'Pasante',
       'Soporte / Mantenimiento',
       'Direcci√≥n General de inform√°tica y Telecomunicaciones',
       'Seguridad inform√°tica ', 'Helpdesk sysadmin networking', 'Other',
       'Repartidor, Construcci√≥n y atendedor', 'Engineer', 'full stack',
       'Sap', 'Front end',
       'Varias opciones: data scientist, project manager, sysadmin.',
       'Implementador', 'comunicaci√≥n, redes sociales, otros',
       'Soporte t√©cnico. Redes. ', 'Analista/desarrollador',
       'analista programafor', 'Networking, Storage / Backup, SysAdmin',
       'Trading', 'Security researcher',
       'Infraestructura, Networking, SysAdmin, DBManager', 'Admin',
       'Application Support', 'It, desarrollo, sysadmin', 'Automation',
       'Desarrollador  / L√≠der T√©cnico / Analista T√©cnico Funcional'],
      dtype=object)

In [24]:
df_lang['work_role_clean'] = df_lang['work_role'].apply(lambda x: str.lower(x))

In [56]:
df_developer_fin =df_lang[df_lang['work_role_clean'].str.contains("developer|desarrollador")]

In [57]:
df_developer_fin.count()

programming_language           8879
tools_programming_languages    8879
salary_monthly_NETO            8573
work_role                      8879
cured_programming_languages    8879
work_role_clean                8879
dtype: int64

In [58]:
df_developer_fin.head(3)

,programming_language,tools_programming_languages,salary_monthly_NETO,work_role,cured_programming_languages,work_role_clean
1,html,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]",developer
1,javascript,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]",developer
1,python,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]",developer

In [59]:
df_developer_fin['work_role_clean'].unique()

array(['developer', 'desarrollador bi',
       'trabajo como desarrollador back, pero tambi√©n tengo que estar haciendo de analista , dba, dev frontend y a veces de helpdesk',
       'help desk/software architect/developer', 'full developer',
       'full stack developer y growth hacker',
       'developer qa - ambos roles', 'firmware developer',
       'software developer- computer vision full stack',
       'senior software developer',
       'founder/ceo/developer/designer/product manager... todo',
       'game developer', 'analista/desarrollador',
       'desarrollador  / l√≠der t√©cnico / analista t√©cnico funcional'],
      dtype=object)

In [60]:
df_developer_fin['work_role_clean'].value_counts()

developer                                                                                                                       8809
full stack developer y growth hacker                                                                                              18
firmware developer                                                                                                                10
desarrollador  / l√≠der t√©cnico / analista t√©cnico funcional                                                                        6
trabajo como desarrollador back, pero tambi√©n tengo que estar haciendo de analista , dba, dev frontend y a veces de helpdesk       6
analista/desarrollador                                                                                                             6
software developer- computer vision full stack                                                                                     5
founder/ceo/developer/designer/product manager... todo                                                                             5
full developer                                                                                                                     4
help desk/software architect/developer                                                                                             3
developer qa - ambos roles                                                                                                         3
game developer                                                                                                                     2
desarrollador bi                                                                                                                   1
senior software developer                                                                                                          1
Name: work_role_clean, dtype: int64

In [61]:
df_lang_work=df_developer_fin
language_count = df_lang_work.programming_language.value_counts()\
    .reset_index()\
    .rename(columns={'index': 'language', 'programming_language': 'frequency'})
most_important_lang=language_count[:10]
most_important_lang

     language  frequency
0  javascript       1593
1        html       1096
2         sql        999
3         css        834
4        java        773
5  typescript        567
6        .net        470
7          c#        450
8         php        416
9      python        391

`***Martin P***`

Buscamos que los valores de los datos sean similares. Filtramos y quitamos salarios menores de 10:

In [62]:
df_lang_work.count()

programming_language           8879
tools_programming_languages    8879
salary_monthly_NETO            8573
work_role                      8879
cured_programming_languages    8879
work_role_clean                8879
dtype: int64

In [65]:
zeros_salary_monthly_NETO = df_lang_work[df_lang_work["salary_monthly_NETO"]>10]
malos = df_lang_work[df_lang_work["salary_monthly_NETO"]<10]
zeros_salary_monthly_NETO

,programming_language,tools_programming_languages,salary_monthly_NETO,work_role,cured_programming_languages,work_role_clean
1,html,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]",developer
1,javascript,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]",developer
1,python,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]",developer
4,css,"CSS, HTML, Javascript, SQL, TypeScript",106000.0,Developer,"[css, html, javascript, sql, typescript]",developer
4,html,"CSS, HTML, Javascript, SQL, TypeScript",106000.0,Developer,"[css, html, javascript, sql, typescript]",developer
...,...,...,...,...,...,...
6090,html,".NET, C#, COBOL, CSS, HTML, Javascript, PHP, S...",97000.0,Developer,"[.net, c#, cobol, css, html, javascript, php, ...",developer
6090,javascript,".NET, C#, COBOL, CSS, HTML, Javascript, PHP, S...",97000.0,Developer,"[.net, c#, cobol, css, html, javascript, php, ...",developer
6090,php,".NET, C#, COBOL, CSS, HTML, Javascript, PHP, S...",97000.0,Developer,"[.net, c#, cobol, css, html, javascript, php, ...",developer
6090,sql,".NET, C#, COBOL, CSS, HTML, Javascript, PHP, S...",97000.0,Developer,"[.net, c#, cobol, css, html, javascript, php, ...",developer
6090,vba,".NET, C#, COBOL, CSS, HTML, Javascript, PHP, S...",97000.0,Developer,"[.net, c#, cobol, css, html, javascript, php, ...",developer

In [66]:
malos.count()

programming_language           23
tools_programming_languages    23
salary_monthly_NETO            23
work_role                      23
cured_programming_languages    23
work_role_clean                23
dtype: int64

In [14]:
zeros_salary_monthly_NETO.count()

programming_language           8498
tools_programming_languages    8498
salary_monthly_NETO            8498
work_role                      8498
cured_programming_languages    8498
dtype: int64

In [15]:
df_martin_r=zeros_salary_monthly_NETO.copy()

## Selecci√≥n de m√©tricas
Comparar las distribuciones de salario para cada lenguaje utilizando visualizaciones. Como la visualizaci√≥n es el producto final, debe ser clara y mostrar informaci√≥n relevante.

Boxplot: Lenguage vs Salario

Histograma: hay que llevar salario a un rango (bins)

crosstab

scaterplot: permite evaluar 3D. Podemos evaluar work_role vs language vs salario

language vs salario vs frec (ocurrencia de encuestas)

In [16]:
df_lang_work

,programming_language,tools_programming_languages,salary_monthly_NETO,work_role,cured_programming_languages
1,html,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]"
1,javascript,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]"
1,python,"HTML, Javascript, Python",63000.0,Developer,"[html, javascript, python]"
4,css,"CSS, HTML, Javascript, SQL, TypeScript",106000.0,Developer,"[css, html, javascript, sql, typescript]"
4,html,"CSS, HTML, Javascript, SQL, TypeScript",106000.0,Developer,"[css, html, javascript, sql, typescript]"
...,...,...,...,...,...
6090,html,".NET, C#, COBOL, CSS, HTML, Javascript, PHP, S...",97000.0,Developer,"[.net, c#, cobol, css, html, javascript, php, ..."
6090,javascript,".NET, C#, COBOL, CSS, HTML, Javascript, PHP, S...",97000.0,Developer,"[.net, c#, cobol, css, html, javascript, php, ..."
6090,php,".NET, C#, COBOL, CSS, HTML, Javascript, PHP, S...",97000.0,Developer,"[.net, c#, cobol, css, html, javascript, php, ..."
6090,sql,".NET, C#, COBOL, CSS, HTML, Javascript, PHP, S...",97000.0,Developer,"[.net, c#, cobol, css, html, javascript, php, ..."
6090,vba,".NET, C#, COBOL, CSS, HTML, Javascript, PHP, S...",97000.0,Developer,"[.net, c#, cobol, css, html, javascript, php, ..."

In [17]:
df_lang_work2 = df_lang_work
cantidad = df_lang_work2["programming_language"].value_counts()
cantidad = pd.DataFrame(data=cantidad)
cantidad.head()

            programming_language
javascript                  1584
html                        1089
sql                          994
css                          829
java                         771

In [18]:
lenguajes = cantidad["denominacion"].head(15)

KeyError: 'denominacion'

In [ ]:
cantidad["sal_acum"] = df_lang_work2.groupby(["programming_language"])["salary_monthly_NETO"].sum()
cantidad.head()

In [ ]:
cantidad["mean"]=cantidad["sal_acum"]/cantidad["programming_language"]

In [ ]:
cantidad[""]= cantidad.index
cantidad.columns

In [ ]:
cantidad["denominacion"]= cantidad.index

#Comentario => Martin P.
Chicos... lo que hice aqui me costo un huevo. jaj, me falta mucha pr√°ctica. Que hice? es filtrar los 15 lenguajes m√°s respondidos y calcularles el promedio de lo que ganan. 

Luego, los que en promedio no declararon casi nada de ingreso y al final los que declararon un n√∫mero enorme de ingresos. 

Creo que esto es m√°s curaci√≥n de datos, pero entiendo que estar√≠a bueno mencionarlo como al margen. Dejo el c√≥digo bastante rupestre. Luego si quieren lo acomodamos de manera m√°s elegante

In [ ]:
seaborn.catplot(x="denominacion", y="mean", data=cantidad, kind="bar", legend=True,height=5, aspect=4/1, order=lenguajes)

In [ ]:
cantidad2 = cantidad.sort_values(by="mean")

In [ ]:
lenguajes2 = cantidad2["denominacion"].head(15)
seaborn.catplot(x="denominacion", y="mean", data=cantidad2, kind="bar", legend=True,height=5, aspect=4/1, order=lenguajes2)

In [ ]:
cantidad2.head()

In [ ]:
cantidad3.head(10)

In [ ]:
lenguajes3 = cantidad3["denominacion"].head(15)
seaborn.catplot(x="denominacion", y="mean", data=cantidad3, kind="bar", legend=True,height=5, aspect=4/1, order=lenguajes3)

#Martin Rodriguez

In [ ]:
#inicializaci√≥n de variable para Martin R.
df_martin_r=zeros_salary_monthly_NETO.copy()
salary_col='salary_monthly_NETO'

##Tendencia central

In [ ]:
#an√°lisis incial de los datos
df_martin_r[salary_col].describe().apply(lambda s: '{0:.2f}'.format(s))

In [ ]:
df_martin_r[salary_col].mean(), df_martin_r[salary_col].median()

Siendo que la media y mediana dan muy distintas, y adem√°s a√∫n tenemos m√≠nimos muy extra√±os (13?) evaluo esos extremos. Una media > mediana, indica un sesgo o asimetr√≠a hacia la derecha.

In [ ]:
#que son lo valores peque√±os que no tienen sentido para un salario?
df[df['salary_monthly_NETO']<1000]

Si analizamos los salarios menores que mil vamos a encontrar que se cargaron con un . indicando la unidad de 1000 y para python es una ','. Procedemos a arreglar esto.**PERO NO SE COMO SE HACE**

In [ ]:
df_salario_correccion_unidad = df[df['salary_monthly_NETO']<1000]
df_salario_correccion_unidad=df_salario_correccion_unidad['salary_monthly_NETO'].replace('.',' ',regex=False)
df_salario_correccion_unidad

##An√°lisis usando Histrograma

Me parece que hay que comenzar por analizar los sueldos de manera global, identificar outliers y ver como se distribuye. Ah√≠ ir a los lenguajes y verificar si los valores son l√≥gicos o es un lenguage influenciado por pocos datos quiz√°s u otro tema.

In [ ]:
#histograma

##An√°lisis usando Boxplot

In [ ]:
df_martin_r[:3]

Elimaci√≥n de valores extremos

In [ ]:
k = 90
percentile_90 = df[salary_col].quantile(k / 100)
n_below = len(df[df[salary_col] < percentile_90])
n_above = len(df[df[salary_col] > percentile_90])
print('Percentil {} de la columna {}: {}'.format(k, salary_col, percentile_90))
print('% de datos menor que percentil {}: {}'.format(k, n_below / len(df)))
print('% de datos mayor que percentil {}: {}'.format(k, n_above / len(df)))

In [ ]:
df[salary_col].quantile([.95, .98, .99, .995, .998])

In [ ]:
df_martin_r_under_p90=df_martin_r[df_martin_r[salary_col]<percentile_90].copy()
df_martin_r_under_p90.count()

Seleccion de los lenguajes m√°s relevantes

In [ ]:
#criterio 1: los que m√°s datos tienen
language_count_aux = df_martin_r_under_p90.programming_language.value_counts()\
    .reset_index()\
    .rename(columns={'index': 'language', 'programming_language': 'frequency'})
most_important_lang=language_count_aux[:10]
most_important_lang

In [ ]:
#Necesito una manera m√°s alegante de transformar a una serie los most_important_lang
lenguajes_mas_representativos=['javascript','php','html','sql','css','java']
df_with_most_representat_language=df_martin_r_under_p90[df_martin_r_under_p90.programming_language.isin(lenguajes_mas_representativos)].copy()
df_with_most_representat_language.count()

In [ ]:
plt.figure(figsize=(12, 6))
seaborn.boxenplot(data=df_with_most_representat_language, x='salary_monthly_NETO', y='programming_language',color='orangered')
plt.ticklabel_format(style='plain', axis='x')